/* Global CSS Rules */
html {
	font-size: 16px;
	background-color: white;
}

/* Header Rules */
.header {
	height: 4rem;
	display: flex;
	align-items: center;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.header .logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.header p {
	text-transform: uppercase;
}

.header .grey {
	color: grey;
}

.header ul {
	display: flex;
}

.header ul .pad {
	margin-right: 1rem;
}

/*Learn Rules*/

.container {
	background-color: #d3d3d3;
}

.banner {
	display: flex;
	padding: 2rem 1.5rem;
}

.banner .left {
	width: 60%;
	padding-right: 1.5rem;
}
.left img {
	max-width: 100%;
}

.banner .right {
	width: 40%;
	display: flex;
	align-items: space-around;
}

.right .banner-content {
	max-width: 100%;
}

.banner-content h1 {
	font-weight: bold;
	font-size: 2.1rem;
	padding-bottom: 3rem;
	padding-top: 1.5rem;
}

.banner-content p {
	padding-bottom: 3rem;
}

.banner-content span {
	display: block;
	padding: .5rem 0;
	color: white;
	text-align: center;
	background-color: black;
	width: 100%;

}


